entryPoints:
  web:
    address: :80
  websecure:
    address: :443

accessLog:
  filePath: "{{ traefik_container_log_dir }}/access.log"
  filters:
    statusCodes:
      - "303" # required due to strange Vaultwarden admin behaviour https://github.com/dani-garcia/vaultwarden/issues/2712
      - "400-499"

providers:
  file:
    filename: {{ traefik_dynamic_config_file }}
    watch: true
