tcp:
  routers:
    home-http:
      entryPoints:
        - web
      rule: HostSNI(`*`)
      service: home-http
    home-https:
      entryPoints:
        - websecure
      rule: HostSNI(`*`)
      service: home-https
      tls:
        passthrough: true
  services:
    home-http:
      loadBalancer:
#        proxyProtocol: {}
        servers:
          - address: 100.82.5.47:30080
    home-https:
      loadBalancer:
#        proxyProtocol: {}
        servers:
          - address: 100.82.5.47:30443
